<% @delete_allowed = User.current.allowed_to?(:manage_files, @project) %>

<h2>
  <%= l('redmine_file_bucket.project_settings.label_file_bucket') %>
</h2>

<div id="rfb_container_list">
  <% @container_type.each do |container| %>
    <% humanized_container_type = humanize_option_type(container) %>
    <%= check_box_tag "rfb_#{container}_checkbox", 1, true, :class => 'rfb_container_checkbox', 'data-container_type' => humanized_container_type %>
    <%= content_tag :label, humanized_container_type %>
  <% end %>
</div>

<table id="rfb_file_bucket" class="stripe" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th><%= l(:field_type) %></th>
      <th><%= l(:field_name) %></th>
      <th><%= l(:field_filesize) %></th>
      <th><%= l(:field_description) %></th>
      <th><%= l(:field_location) %></th>
      <th><%= l(:field_subproject) %></th>
      <th><%= l(:field_author) %></th>
      <th><%= l(:field_created_on) %></th>
      <th><%= l(:field_downloads) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<script language="javascript" type="text/javascript">

var dt_str = {
  search: "<%= l(:label_search) %>",
  empty_table: "<%= l(:label_no_results_found) %>",
  first: "<%= l(:first) %>",
  last: "<%= l(:label_last) %>",
  next: "<%= l(:label_next) %>",
  previous: "<%= l(:label_previous) %>",
  info: "<%= l(:label_total) %>: _TOTAL_",
  yes: "<%= l(:general_text_Yes) %>",
  no: "<%= l(:general_text_No) %>",
  subprojects: "<%= l(:label_subproject_plural) %>"
};

var dt_data = <%= raw prepare_attachments_for_bucket(@attachments) %>;
var container_subproject_enabled = <%= @container_type.include?('Subproject') %>;
var checked_containers = <%= raw @container_type.map{|k| humanize_option_type(k)} %>;

</script>


<%= javascript_include_tag 'console_fallback', :plugin => 'redmine_file_bucket' %>
<%= javascript_include_tag 'dataTables/jquery.dataTables' %>
<%= javascript_include_tag 'redmine_file_bucket', :plugin => 'redmine_file_bucket' %>

<%= stylesheet_link_tag 'dataTables/jquery.dataTables' %>
<%= stylesheet_link_tag 'redmine_file_bucket', :plugin => 'redmine_file_bucket' %>

